.DS_Store
dist/electron/*
dist/web/*
dist/main.js
build/*
!build/icons
coverage
node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
node_modules
!data/test-data
!data/tutorials
!data/dockerbuild/
src/renderer/assets/tutorial/
!build/entitlement.mac.plist
!build/notarize.js
