yarn.lock
C:
.yarn*
*.log
Samplesheet*
taxtriage_output
client
.DS_Store
dist/electron/*
dist/web/*
dist/main.js
dist/server.js
data/logs
build/*
!build/icons
coverage
node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
node_modules
!data/test-data
!data/tutorials
!data/dockerbuild/
src/renderer/assets/tutorial/
!build/entitlement.mac.plist
!build/notarize.js
data/dockstore
data/logs/*
data/logs
data/test-data/*
cromwell-input
data/uploads/*
client/*
datastore/*
dist/*
data/*
.env
src/system/server/dist
client/*
*.zip
cromwell*
!data/config
