@charset "UTF-8";
/* CSS Document */

.container {
	margin:0;
	
}
.container-fluid {
    margin: 0;
	margin-bottom: -50px;
    padding:0;
    width:100%;
}
    .container-fluid > .banner {
        box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
    }
.container-plain 
{
    margin:0;
    background:#FFF;   
    }
.page {
	margin:0 auto;
	width:1200px;
}

.banner-container {
    width: 100%;
    margin: 0;
    padding: 0;
    
    /*min-width:1400px;*/
}
.logo-banner {
    background-color: #fff;
    width: 100%;
    height: 90px;
/*    padding-top:30px; */
}

    .logo-banner img {
/*
        width: 290px;
        max-width: 290px;
*/
        max-height: 75%;
    }

.title-banner {
    background-color: #4A484C;
    width: 1200px;
    font-size: 36px;
    font-weight: 200;
    color: #fff;
    text-shadow: 2px 3px 0px black;
    height: 42px;
    margin: 0 auto;
    padding: 16px 0 0 28px;
}
.menu-banner {
	background-color:#002D73;
	width:100%;
	height:37px;
	margin:0;
	padding:0 0 0 0;
	font-size:14px;
	font-weight:normal;
	color:#FFF;
	/*text-shadow: 3px 2px 3px #333;*/
}
#menu {
    height: auto;
    padding: 8px 0 8px 425px;
    margin: 0px;
}
#menu li { 
	display: inline; 
	padding-right: 20px; 
}	
#menu li a {
	color:#FFF;
	text-decoration:none;
}
#menu li a:hover {
    color: #EB9641;
	/*text-decoration: underline;*/
}
/*Fix for horizontal scroll bug*/
.row
{
    margin: 0;
    padding: 0;
}
